.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    padding: 15px 10%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.nav-bar h1{
    margin: 0;
    font-size: 1.5rem;
}
.nav-bar .nav-bar-btns{
    display: flex;
}
.nav-bar .nav-bar-btn{
    color: rgba(255, 255, 255, 0.6);
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.nav-bar .nav-bar-btn:hover{
    color: rgba(255, 255, 255, 1);
}

.nav-bar svg{
    color: white;
}

.nav-bar .menu-icon{
    display: none;
}

@media screen and (max-width: 40em) {
    .nav-bar-btns{
        position: fixed;
        height: 100vh;
        background-color: black;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 10% 10px;
        min-width: 60%;
        transition: all 1s ease;
        transform: translate(100%, 0);
        z-index: 100;
    }
    .nav-bar-btns.opened{
        transform: translate(0,0);
    }

    .nav-bar .nav-bar-btn{
        width: 100%;
        padding: 0 10%;
        margin: 20px 0;
    }

    .nav-bar .menu-icon{
        display: block;
    }
   
}


