.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

img {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: scale-down;
  /* object-position: 0 -500px; */
}

.banner{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}

.banner h1{
  position: relative;
  width: 70%;
  font-weight: 800;
  font-size: 3rem;
}

:root{
  --main-color: rgb(90, 155, 234);
}


@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes ripple-fill-container {
  from{
    transform: scale(0, 1);
  }
  to {
    transform: scale(2, 1);
  }
}
@keyframes ripple-empty-container {
  from{
    transform: scale(2, 1);
  }
  to {
    transform: scale(0, 1);
  }
}

span.ripple {
  position: absolute; 
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.75s linear;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 40em) {
  img {
    height: 100vh;
    object-fit: cover;
  }
}